body {
    background-color: #FFF3D6;
    color: #2B2118;
}
body {
    margin: 0;
    font-family: "Bree Serif", serif;
    color: #C62828;
}
header {
    background-color: #8E1B1B;
    color: #FFF3D6;
    text-align: center;
    padding: 22px 14px;
}
.sabores {
    background-color: #FFF;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 16px;
}
.pizzas h2 {
    color: #8E1B1B;
    margin-top: 1px;
}
.pizzas p {
    margin-top: -15px;
}
footer {
    text-align: center;
    font-size: 14px;
    color: #2E4A2F;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pizza {
    display:inline;
    width: 250px;
    height: auto;
    margin-top: 10px;

}
.whatsapp-button button {
    background-color: #2E4A2F;
    color: #FFF3D6;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 13px;
}
.whatsapp-button button:hover {
    background-color: #fbfcfb;
    color: #2E4A2F;
}
.imagens{
    width: 40%;
}

